
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.libreta{
    height:100% ;
    width:500px ;
    margin: 0 auto;
    border: 1px solid green;
    border-radius: 5px;
    background-color: white;
    }

h1{
    font-size: 100px;
}

* {
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #c3c1c1;
}

.btn {
    padding: 2px 10px 2px 10px;
    display: none;
    margin-right: 30px;
}

li:hover button{ 
    display: inline;
}

li{
    display: flex;
    justify-content: space-between
}

.listItemClass {
    color: #858585;
    font-size: 21px;
    padding: 0;
    width: 500px;
    border: 2px solid #cecece;
}

.listItemClass li {
    list-style: none;
    border-bottom: 2px dotted #cecece;
    text-indent: 20px;
    height: auto; 
    padding: 10px;
}

.listItemClass li:hover {
    background-color: #f5f5f5;
}

p{
    margin-left: 10px;
    font-size: 21px;
}

#toDoItem {
    font-size: 21px;
}